body{background:#FDF5E8; margin-left:3%; margin-right:1%;}
.tbl1{background-color:#fffff0; color:green; font-weight:bold; font-size:13pt;}
.tbl2{background-color:darkblue; color:cyan; font-weight:bold; font-size:13pt;}
.urcwrdss{background-color:#1E2E63; color:#CCE0EF; font-weight:bold; font-size:12pt;}
.inpbx{background-color:#8C23BB; color:#FFFF00; font-size:16pt; font-weight:bold; text-align:center;}
.inpbxw{color:#DF5D26; font-size:18pt; font-weight:bold;}
.scr{color:#973BA1; font-size:20pt; font-weight:bold;}
.scrbx{background-color:#8E4A0E; color:#ffff00; font-size:20pt; font-weight:bold; text-align:center;}